body{
    background-image:url(../images/bg1.jpg);
    height: 100%;
    background-size: cover;
    background-position: contain;
    background-color: royalblue;
    
}
.container {
	width:100%;
	margin: 0 auto;
}
h1{
	color:#080808;
	font-size: 32px	;
	font-family: 'Lato', sans-serif;
	
}
h3{
    text-align: center;
    color: #ea2410;
    font-family: 'Lato', sans-serif;
	font-size: 32px;	
	padding: 15px 0px 15px 0px;
	margin: 0 0 4em 0;
}
.company-logo img{
	margin: 0px 15px 0px 20px;
	width: auto;
	max-height: 80px;
	padding: 0;
}
.company-logo h1{
	margin-left: 15px,
}
.company-logo img,.company-logo h1{
	float: left;
}
/*navigation*/
.menu{
	font:1em Georgia;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}
.menu li{
	display:inline-block;
	padding: 5px 15px 4px 15px;
}
.menu li a{
	color: #333333;
	text-decoration: none;
	line-height: 3em;
}
.menu li a:hover {
	color: #992211;
}
.menu li.selected{
	background:#333333;
}
.menu li.selected a{
	color:#fff;
}
/*home content*/
.home-content h1 {
    text-align: center;
	border-bottom: 2px solid#080808;
	border-top:2px solid#080808;
	color: #080808;
	font-family: 'Lato', sans-serif;
	font-size: 32px;	
	line-height: 4em;
	padding: 15px 0px 15px 0px;
	margin: 0 0 4em 0;
}
p{
    color:#ea2410;
	font-family: "Poppins",sans-serif;
	font-size: 24px;
	max-width: 1000px;
	text-transform: uppercase;
	margin: 3em auto 3em auto;
}
button{
	width: 40%;
    height: 70px;
    padding: 15px;
    cursor: pointer;
    font-family:"Poppins",sans-serif;
    text-transform: uppercase;
	font-size: 1.5em;
	background-color: #18862f;
	border: 1px solid #fff;
    color: #ffffff;
    position: relative;
}
button:hover{
	color: #992211;
    border: 1px solid #992211;
    background-color: #cfc ;
}
a:hover {
    color:#992211;
}
/*signup*/
form{
	padding: 30px;
	box-sizing: border-box;
}
.signupform{
	width:40%;
	color:white;
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing:border-box;
	background: #080808;
	margin-top: 40%;
	margin-bottom: 20%;
}
.signuplab{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
form input[type="text"],form input[type="password"],form input[type="email"],textarea,form select{
	padding: 15px;
	width: 80%;
	margin-bottom: 20px;
	font-size: 14px;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	margin-bottom: 20px;
}
.signupb{
	width: 100%;
    padding: 15px;
    cursor: pointer;
    font-family:"Poppins",sans-serif;
    text-transform: uppercase;
	font-size: 1.5em;
	background-color: #18862f;
	border: 1px solid #fff;
    color: #ffffff;
    position: relative;
}
.userp{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: relative;
	top: -50px;
	left: calc(50% -50px);
}
.signupt{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
/*login*/
.logint{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
.loginb{
	width: 85%;
    padding: 15px;
    cursor: pointer;
    font-family:"Poppins",sans-serif;
    text-transform: uppercase;
	font-size: 1.5em;
	background-color: #18862f;
	border: 1px solid #fff;
    color: #ffffff;
    position: relative;
}
.loginlab{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginform{
	width:40%;
	color:white;
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing:border-box;
	background: #080808;
	margin-top: 20%;
	margin-bottom: 20%;
}
/* recently asked questions*/
#answer1{
    width: 100%;
    padding: 50px 0;
    text-align: center;
    color:#080808;
	margin-top: 20px;
	display: none;
}
#answer2{
	width: 100%;
    padding: 50px 0;
    text-align: center;
    color:#080808;
	margin-top: 20px;
	display: none;
}
#answer3{
	width: 100%;
    padding: 50px 0;
    text-align: center;
    color:#080808;
	margin-top: 20px;
	display: none
}
.qn{
	width: 15%;
    padding: 15px;
    cursor: pointer;
    font-family:"Poppins",sans-serif;
	font-size:15px;
	background-color: #18862f;
	border: 1px solid #fff;
    color: #ffffff;
    position: relative
}
list{
	font-family: "Poppins",sans-serif;
	font-size: 25px;
}
/*questions*/
.question{
	width:50%;
	color:black;
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing:border-box;
	background: darkgray;
	margin-top:20%;
	margin-bottom: 20%;
}
.img{
	width: 50px;
}


